<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    
<servlet>
  <servlet-name>Project Display</servlet-name>
  <servlet-class>Project.Display</servlet-class>
 </servlet>
<servlet-mapping>
    <servlet-name>Project Display</servlet-name>
     <url-pattern>/Display</url-pattern>
</servlet-mapping>
    
<servlet>
    <servlet-name>Project Comments</servlet-name>
    <servlet-class>Project.DisplayComments</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Project Comments</servlet-name>
    <url-pattern>/DisplayComments</url-pattern>
</servlet-mapping>
    
    
<servlet>
    <servlet-name>Project Pie Chart</servlet-name>
    <servlet-class>Project.ChartServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Project Pie Chart</servlet-name>
    <url-pattern>/PChart</url-pattern>
</servlet-mapping>
    
</web-app>